extends layout

block content
  br
  .w3-container
    .w3-card-4
      header
      h4.h4.white Welcome #{user.nickname}!
      img(src=user.picture)
      h4.h4.white User profile
      br
      h5.h5.white Percentage within 
      code #{State}
      h5.h5.white Percentage within 
      code #{Country}
      br
      a(href="http://localhost:3000/new_trip") New trip
      br
      a(href="http://localhost:3000/past_trips") Past trips

      
      br
      h5.h5.white Kilograms of Carbon Dioxide Released Into the Atmosphere During Your Trips:
      pre
        code #{user.pollution}
      h5.h5.white Total Distance Traveled (mi):
      pre
        code #{user.distance} 
      
      h5.h5.white TODO:
      br
      code Statewide and Nationwide statistics based on users of Negative Impact
      br
      code Social Comparison Feed
      br