extends layout

block content
  br
  .w3-container
    .w3-card-4
      header
      <h2 id='welcome'>Welcome #{user.nickname}! <h2>
      img(src=user.picture)
      button(onclick="window.location.href = 'http://localhost:3000/newtrip';" id='newtrip') New Trip
      br
      br
      br
      br
      <div id='profile'>
        <div id='pollution'>
          <div id='co2image'>
            img(src="http://localhost:3000/image/co2-icon.png" height="80" width="80" align="left")
          </div>
          <div id='totalpollution'>
            h6.h6.white Grams of Carbon Dioxide Released Into the Atmosphere During Your Trips:
            pre
              code #{user.pollution}
          </div>
        </div>
        <div id=distance>
          <div id='distanceimage'>
            img(src="http://localhost:3000/image/traveldistance.png" height="80" width="80" align="left")
          </div>
          <div id='totaldistance'>
            h6.h6.white Total Distance <br> Traveled (mi):
            pre
              code #{user.distance}  
          </div>    
        </div>
        h5.h5.white Past Trips:
        <div class='pasttrip'>
          pre
            each trip in trips
              code Start Address: #{trip.start_addr}
              br
              code End Address: #{trip.end_addr}
              br
              code Trip Distance: #{trip.distance}
              br
              code Trip Method: #{trip.method}
              br
              code Resultant CO2 (kg): #{trip.pollution}
              br
              br
        </div>
      </div>