extends layout

block content
  br
  .w3-container
    .w3-card-4
      header
      h4.h4.white Welcome #{user.nickname}!
      img(src=user.picture)
      h4.h4.white User profile
      a(href="http://localhost:3000/newtrip")
        button.btn.btn-light(type='button') New Trip
      br
      br
      h5.h5.white Grams of Carbon Dioxide Released Into the Atmosphere During Your Trips:
      pre
        code #{(user.pollution).toFixed(2) + " g"}
      h5.h5.white Total Distance Traveled:
      pre
        code #{(user.distance).toFixed(2) + " miles"}
      h5.h5.white Past Trips:
      pre
        each trip in trips.reverse()
          code Start Address: #{trip.start_addr}
          br
          code End Address: #{trip.end_addr}
          br
          code Trip Duration: #{trip.duration}
          br
          code Trip Distance: #{(trip.distance).toFixed(2) + " miles"}
          br
          code Trip Method: #{trip.method}
          br
          code Resultant CO2: #{(trip.pollution).toFixed(2) + " g"}
          br
          form(action="/deltrip/"+trip._id method='post' class="delform" name="delform")
            input(type='submit' class="delbutton btn btn-danger" value='Delete')
          br
          br
      br
