extends layout

block content
  br
  .w3-container
    .w3-card-4
      header
      h4.h4.white Welcome #{user.nickname}!
      h6.h6.white#startaddr
      p.p.white#start
      h6.h6.white#stopaddr
      p.p.white#stop
      h5.h5.white Pollution created via Pedestrian Route (kg of CO2, any value below greater than 0 is due to a ferry ride in the itinerary):
      p.p.white#pedpoll
      h5.h5.white Pedestrian Route
      #peddirections.white
      br
      h5.h5.white Pollution created via Bicycle Route (kg of CO2):
      p.p.white#bikepoll
      h5.h5.white Bicycle Route
      #bikedirections.white
      br
      h5.h5.white Pollution created via Car Route (kg of CO2):
      p.p.white#carpoll
      h5.h5.white Pollution created via Rideshare(Uber,Lyft,etc.) Route (kg of CO2):
      p.p.white#uberpoll
      h5.h5.white Car or Rideshare Route
      #cardirections.white
      br
      h5.h5.white Pollution created via Carpool/HOV Route (kg of CO2):
      p.p.white#hovpoll
      h5.h5.white Carpool/HOV Route
      #hovdirections.white
      br
      h5.h5.white Pollution created via Public Transit Route (kg of CO2):
      p.p.white#pubpoll
      h5.h5.white Public Transit Route
      #pubdirections.white
      img(src=user.picture)
      h4.h4.white User profile
      h5.h5.white TODO:
      code Previous trips:
      br
      code New Trip Button
      br
      code Statewide and Nationwide statistics based on users of Negative Impact
      br
      code Social Comparison Feed
      br
      br
      h5.h5.white Kilograms of Carbon Dioxide Released Into the Atmosphere During Your Trips:
      pre
        code #{user.pollution}
      h5.h5.white Total Distance Traveled (mi):
      pre
        code #{user.distance}      
      h5.h5.white Past Trips:
      pre
        each trip in trips
          code Start Address: #{trip.start_addr}
          br
          code End Address: #{trip.end_addr}
          br
          code Trip Distance: #{trip.distance}
          br
          code Trip Method: #{trip.method}
          br
          code Resultant CO2 (kg): #{trip.pollution}
          br
          br
      br
