doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Negative Impact
  script(src='https://js.api.here.com/v3/3.1/mapsjs-core.js' type='text/javascript' charset='utf-8')
  script(src='https://js.api.here.com/v3/3.1/mapsjs-service.js' type='text/javascript' charset='utf-8')
  style(type='text/css').
  
    h4{
      color: red;
    }
    
  
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='preload' as='style' onload="this.rel='stylesheet'")
  noscript
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet')
  link(href='http://localhost:3000/css/intrasite.min.css?16b0249883a0043e1470' rel='preload' as='style' onload="this.rel='stylesheet'")
  noscript
    link(href='http://localhost:3000/css/intrasite.min.css?16b0249883a0043e1470' rel='stylesheet')
  link(href='https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet')
  script.
    !function(e){"use strict";var t=function(t,n,r){function o(e){if(i.body)return e();setTimeout(function(){o(e)})}function a(){d.addEventListener&&d.removeEventListener("load",a),d.media=r||"all"}var l,i=e.document,d=i.createElement("link");if(n)l=n;else{var s=(i.body||i.getElementsByTagName("head")[0]).childNodes;l=s[s.length-1]}var u=i.styleSheets;d.rel="stylesheet",d.href=t,d.media="only x",o(function(){l.parentNode.insertBefore(d,n?l:l.nextSibling)});var f=function(e){for(var t=d.href,n=u.length;n--;)if(u[n].href===t)return e();setTimeout(function(){f(e)})};return d.addEventListener&&d.addEventListener("load",a),d.onloadcssdefined=f,f(a),d};"undefined"!=typeof exports?exports.loadCSS=t:e.loadCSS=t}("undefined"!=typeof global?global:this),function(e){if(e.loadCSS){var t=loadCSS.relpreload={};if(t.support=function(){try{return e.document.createElement("link").relList.supports("preload")}catch(e){return!1}},t.poly=function(){for(var t=e.document.getElementsByTagName("link"),n=0;n<t.length;n++){var r=t[n];"preload"===r.rel&&"style"===r.getAttribute("as")&&(e.loadCSS(r.href,r,r.getAttribute("media")),r.rel=null)}},!t.support()){t.poly();var n=e.setInterval(t.poly,300);e.addEventListener&&e.addEventListener("load",function(){t.poly(),e.clearInterval(n)}),e.attachEvent&&e.attachEvent("onload",function(){e.clearInterval(n)})}}}(this);
  .container
    .row
      .col-6
        a(href='/user' style='text-decoration: none;')
          h3.logo(style='text-decoration: none;') Negative Impact
      .col-6
        ul.nav
          if locals.user
            li.nav-items
              a(href="/user") Profile
            li.nav-items
              a(href="/logout") Log Out
          else
            li.nav-items
              a(href="/login") Log In
    .row.page
      .col-12
        block content

footer
  script(defer='defer' src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js')
  script(defer='defer' src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js')
  script(defer='defer' src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js')
  script(defer='defer' src='https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/bootstrap.min.js')
  script(type='text/javascript' src='http://localhost:3000/js/main.bundle.js?16b0249883a0043e1470' defer='defer')
  script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
  script(type='text/javascript' src='http://localhost:3000/js/maps.min.js' defer='defer')
